<!-- templates/index.html -->


<!-- TODO: Extend 'base.html' and put content into a block 'body' to match -->
{% extends 'base.html' %}

{% block body %}
<!-- TODO: Make an HTML form containing a search box and a submit button to add
    the search term to the query string. The form should have a target of '/' to
    send us to the same route. -->
    <div style="width:100%; height:20%; background-color: #ffc7cf; padding: 20px; border-radius: 5px">
    <form action="/">
        <input
                style="font-size: 24px; background-color: #099e18; border-radius: 5px"
                type="text" name="search" placeholder="Find cool Gifs"/>
<!--        <button type="submit">Submit</button-->
        <button type="submit" style="font-size:24px; background-color: #450bba; border-radius: 5px; color: #fff " method="POST">Submit</button>
    </form>
    </div>

    <h1>{{ search }}</h1>

<!-- TODO: Make a for loop to loop over GIFs passed in from the server -->
    <div class="row">
        {% for gif in gifs %}

    <!-- TODO: For each gif, include the 'gif.html' template to display it -->
        <div class="col-sm-4">
            {% include 'gif.html' %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
